In [33]:
import pandas as pd
import numpy as np
import scipy.io
import scipy.sparse
import matplotlib.pyplot as plt

In [22]:
# ClusterGeneExpression.csv data 
clusterGenesExpression_df = pd.read_csv("../Data/ClusterGeneExpression.csv", index_col=0)
clusterGenesExpression_df.T

CellType,X1,X2,X3,X4,X5,X6,X7,X8,X9
Xkr4,1.640465e-02,1.432013e-02,3.112218e-03,7.553460e-02,2.552954e-02,6.421601e-02,6.841349e-02,1.298442e-02,1.311565e-02
Gm1992,1.388843e-20,8.828156e-07,8.383861e-09,1.637971e-14,8.579349e-05,3.274838e-09,8.588268e-07,2.495951e-05,4.512556e-04
Gm37381,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41
Rp1,4.444050e-04,6.510778e-04,6.856137e-08,6.809215e-09,8.268434e-04,5.847912e-08,2.814397e-06,1.564230e-05,2.238530e-06
Sox17,4.436362e-03,3.817014e-03,1.293445e-03,5.139439e-03,1.750842e-03,6.798670e-04,1.642613e-02,2.660386e-03,4.993787e-04
...,...,...,...,...,...,...,...,...,...
AC168977.1,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41
AC149090.1,9.971955e-03,1.182320e-01,1.478227e-01,3.200827e-02,7.343077e-03,9.217453e-02,3.484000e-02,7.178175e-02,2.526670e-02
CAAA01118383.1,1.838549e-02,1.474751e-02,1.430318e-03,1.353623e-02,4.940834e-03,1.801055e-02,8.037996e-03,1.487710e-02,2.311245e-02
Vmn2r122,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41,3.720076e-41
CAAA01147332.1,3.510728e-20,2.806644e-07,2.232175e-11,1.385128e-17,3.045001e-04,2.859486e-11,3.670946e-06,1.859018e-07,1.120581e-07

In [17]:
# Genes.csv data
genes_df = pd.read_csv("../Data/Genes.csv")
genes_df

                 gene     feature_type
0                Xkr4  Gene Expression
1              Gm1992  Gene Expression
2             Gm37381  Gene Expression
3                 Rp1  Gene Expression
4               Sox17  Gene Expression
...               ...              ...
31048      AC168977.1  Gene Expression
31049      AC149090.1  Gene Expression
31050  CAAA01118383.1  Gene Expression
31051        Vmn2r122  Gene Expression
31052  CAAA01147332.1  Gene Expression

[31053 rows x 2 columns]

In [32]:
print(genes_df["feature_type"].value_counts())
len(pd.unique(genes_df["gene"]))

feature_type
Gene Expression    31053
Name: count, dtype: int64

31053

In [34]:
# FeatureMatrix.mtx data
FeatureMatrix = scipy.io.mmread("../Data/FeatureMatrix.mtx")
FeatureMatrix

array([[2., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 2., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [1., 0., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [16]:
# SpotPosition.csv data
spotPosition_df = pd.read_csv("../Data/SpotPositions.csv")
spotPosition_df

                 barcode        x        y     radius
0     AAACAAGTATCTCCCA-1  12709.0  10806.0  71.192911
1     AAACACCAATAACTGC-1   3616.0  12513.0  71.192911
2     AAACAGAGCGACTCCT-1  11839.0   3944.0  71.192911
3     AAACAGGGTCTATATT-1   2961.0  10225.0  71.192911
4     AAACATTTCCCGGATT-1  12159.0  12902.0  71.192911
...                  ...      ...      ...        ...
3494  TTGTTGTGTGTCAAGA-1   9974.0   7183.0  71.192911
3495  TTGTTTCACATCCAGG-1   6136.0  12325.0  71.192911
3496  TTGTTTCATTAGTCTA-1   4821.0  12705.0  71.192911
3497  TTGTTTCCATACAACT-1   4495.0   9846.0  71.192911
3498  TTGTTTGTGTAAATTC-1   7130.0   2606.0  71.192911

[3499 rows x 4 columns]

In [15]:
# SpotClusterMembership.csv data
spotClusterMembership_df = pd.read_csv("../Data/SpotClusterMembership.csv")
spotClusterMembership_df

,barcode,X1,X2,X3,X4,X5,X6,X7,X8,X9
0,AAACAAGTATCTCCCA-1,0.176596,0.130452,0.000000,0.277719,0.000000,0.334386,0.000000,0.000000,0.080847
1,AAACACCAATAACTGC-1,0.000000,0.000000,0.000000,0.000000,0.662506,0.000000,0.193410,0.144084,0.000000
2,AAACAGAGCGACTCCT-1,0.000000,0.000000,0.330006,0.000000,0.000000,0.250267,0.000000,0.163155,0.256573
3,AAACAGGGTCTATATT-1,0.000000,0.087536,0.000000,0.000000,0.463777,0.000000,0.237417,0.131194,0.080076
4,AAACATTTCCCGGATT-1,0.197194,0.216818,0.000000,0.126936,0.099019,0.067587,0.292446,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
3494,TTGTTGTGTGTCAAGA-1,0.077686,0.000000,0.109485,0.372448,0.095749,0.344632,0.000000,0.000000,0.000000
3495,TTGTTTCACATCCAGG-1,0.055007,0.083465,0.134945,0.000000,0.208435,0.121374,0.000000,0.124215,0.272560
3496,TTGTTTCATTAGTCTA-1,0.000000,0.067899,0.000000,0.000000,0.545618,0.000000,0.161659,0.148889,0.075935
3497,TTGTTTCCATACAACT-1,0.000000,0.000000,0.221199,0.000000,0.171150,0.191596,0.000000,0.175395,0.240660
3498,TTGTTTGTGTAAATTC-1,0.000000,0.000000,0.000000,0.000000,0.465989,0.065243,0.189550,0.279217,0.000000